<div id="<%= dom_id playlist_item %>">
  <p>
    <strong>Playlist:</strong>
    <%= playlist_item.playlist_id %>
  </p>

  <p>
    <strong>Video:</strong>
    <%= playlist_item.video_id %>
  </p>

</div>
